.searchContainer {
  margin-top: 40px;
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.searchInput {
  width: 600px;
  height: 64px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: none;
}

.searchButton {
  width: 80px;
  height: 64px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.searchContainer button:hover {
  background-color: #45a049;
}

.loginMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.gifContainer button {
  width: 20px;
  background: none;
  margin-top: 20px;
  margin-left: -40px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.favoritesSection {
  margin-top: 20px;
  margin-left: 100px;
}

.favoritesSection h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.paginationButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.paginationButtons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationButtons button:hover {
  background-color: #45a049;
}

.gif {
  width: 200px; 
  height: 200px;
  margin: 14px; 
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .searchInput {
    width: 90vw;
  }
}